.codefalse-file{
  height: auto;
  .codefalse-file-item{
    display: inline-block;
    border: 1px solid gray;
    vertical-align: top;
    margin: 5px;
    height: 100%;
    &>img, &>i{
      height: 100%;
      width: 100%;
    }
    &>i{
      display: inline-block;
      text-align: center;
      font-size: 50px;
    }
    .codefalse-file-operation{
      position: absolute;
      height: 30px;
      background-color: black;
      opacity: 0.5;
      display: none;
      span{
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        color: white;
        width: 30%;
        line-height: 30px;
      }
      i{
        cursor: pointer;
        line-height: 30px;
        font-size: 15px;
        margin-right: 5px;
        color: white;
        float: right;
        &:hover{
          color: cornflowerblue;
        }
      }
    }
  }
  .file-add{
    text-align: center;
    color: gray;
    i{
      font-size: 36px;
      cursor: pointer;
      &:hover{
        color: cornflowerblue;
      }
    }
  }
  .codefalse-errors{
    color: red;
  }
}